

body {
  background-color: #1c1c1e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


video {
  object-fit: cover;
  height: 100%;
  width: 100%;

}
 

#videoElement {
  width: 100%;
  height: 100%;
  position: absolute;
   background: #18181A;
}

#videoElementParent {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  pointer-events: all;
  cursor: default;
}

#streamingVideo {
  background: #18181A;
  position: absolute;
}

#logo {
  display: block;
  max-width: 150px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 16px auto 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.containMain {
  background: #18181A;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.containLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1000; 
}



.Header {
  position: relative;
  background-color: #000;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}


  .controlPanel {
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 10px;
    z-index:1;
  }


/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Stats Container */
.stats-container {
  margin-top: 20px;
}

.stat-item {
  margin-bottom: 10px;
}

#passwordScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  z-index: 1002;
}

#passwordForm {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 14px 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

#passwordForm input {
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  width: 180px;
  outline: none;
}

#passwordForm input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#passwordForm button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #4e9cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#passwordForm button:hover {
  background-color: #327dcd;
}

html, body {
  height: 100%;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}


/* Modal Overlay */
.modal-overlay-stats {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content-stats {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
  max-height: 80%;
  overflow-y: auto;
}

/* Media Query for Tablet (Screen width <= 768px) */
@media (max-width: 768px) {
  .modal-content-stats {
    max-width: 90%;
    max-height: 70%;
  }
}

/* Media Query for Mobile (Screen width <= 480px) */
@media (max-width: 480px) {
  .modal-content-stats {
    max-width: 90%;
    max-height: 60%;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.floatingInputBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    width: 70vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modalKeyboardTextArea {
    width: 100%;
    height: 120px;
    resize: vertical;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modalKeyboardInputRow {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-keyboard-flat {
    padding: 8px 16px;
    background-color: #007aff;
    border: none;
    color: #e5e5ea;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
}

.btn-keyboard-flat:hover {
    background-color: #007bff98;
}

.btn-keyboard-flat-cancel {
    padding: 8px 16px;
    background-color:#444;
    border: none;
    color: #e5e5ea;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
}

.btn-keyboard-flat-cancel:hover {
    background-color:#44444475;
}


